<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
    <!-- overall CSS styling -->
    <style>
        .header {
            background-color: #25274d;
            color: rgb(221, 222, 233);
            font-size: large;
            height: 6em;
        }
        
        .card-header {
            background-color: royalblue;
            color: white;
        }
        
        .card-body {
            background-color: whitesmoke;
        }
        
        .card-title {
            background-color: white;
        }
    </style>
</head>

<body>
    <!-- page header -->
    <div class="header d-flex align-items-center justify-content-center">
        <h1>My Team</h1>
    </div>
    <!-- card/content container -->
    <div class="container mt-5">
        <div id="main" class="row row-cols-1 row-cols-md-3">
        </div>
    </div>
</body>

</html>